<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Wikidata Abfrage:</h3>
    </div>
    <div class="panel-body">

      <form name="myForm" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-4 control-label">Staat auswählen</label>
          <div class="col-sm-4">
            <button type="button" class="btn btn-default" ng-model="selectedCountry" bs-options="country.value as country.label for country in countries" bs-select>
              Action
            </button>
          </div>
        </div>

      </form>
      <button type="submit" class="btn btn-primary" ng-click="startQuery()">Abfrage starten</button>
    </div>
  </div>

</div>

<div class="row">
  <div id="wikidataResult" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Wikidata Ergebnis:</h3>
    </div>
    <div class="panel-body">


      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td>
              <strong>Hauptstadt</strong>
            </td>
            <td>{{result.capital}}</td>
          </tr>
          <tr>
            <td>
              <strong>Einwohner</strong>
            </td>
            <td>{{result.population | number}}</td>
          </tr>
          <tr>
            <td>
              <strong>Währung</strong>
            </td>
            <td>{{result.currency}}</td>
          </tr>
          <tr>
            <td>
              <strong>Mitglied bei</strong>
            </td>
            <td>
              <ul>
                <li ng-repeat="member in result.memberOf">
                  {{member.value}}
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Gemeinsame Grenze</strong>
            </td>
            <td>
              <ul>
                <li ng-repeat="member in result.sharesBorderWith">
                  {{member.value}}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
